<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @book.slug %>
</p>

<p>
  <strong>ISBN-13:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Video:</strong>
  <%= @book.video %>
</p>

<p>
  <strong>Image:</strong>
  <%= @book.image %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>

<p>
  <strong>Buy option amazon:</strong>
  <%= @book.buy_option_amazon %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Published:</strong>
  <%= @book.published %>
</p>

<p>
  <strong>Post:</strong>
  <%= @book.post %>
</p>

<%= link_to 'Edit', edit_post_book_path(@book) %> |
<%= link_to 'Back', post_books_path %>
