<p id="notice"><%= notice %></p>

<% if @admin %>
  <%= link_to 'Novo Post', new_post_path, class:"ui positive button" %>
<% end %>

<div class="ui divided items">
  <% @posts.each do |post| %>

    <div class="item">

      <div class="content">

        <% if post.published || !post.published && @admin  %>

          <h1><%= link_to post.title, post.slug, class:"ui header" %></h1>

          <% if @admin %>
              <div class="ui <%= post.published ? 'teal' : 'red' %> tag label" >
                <strong>Status:</strong>
                <%= post.published ? "Publicado" : "Não Publicado" %>
              </div>
              <%= link_to 'Editar', edit_post_path(post), class:"ui tiny button"  %>
              <%= link_to 'Deletar', post, method: :delete, data: { confirm: 'Are you sure?' }, class:"ui negative tiny button"  %>
          <% end %>

          <div class="description"><%= simple_format post.intro %></div>

          <br>

            <%= link_to post.slug, class:"ui right floated primary button" do %>
              Continue lendo <i class="arrow right icon"></i>
            <% end %>
          
        <% end%>
      </div>
    </div>
  <% end %>
</div>
