<p id="notice"><%= notice %></p>

<h1 class="ui header">
  <%= @post.title %>
</h1>

<p>
  <strong>Atualizado em: </strong>
  <%= @books.first.updated_at.strftime('%d/%m/%Y')%>
</p>

<% if @admin %>
  <div class="ui <%= @post.published ? 'teal' : 'red' %> tag label" >
    <strong>Status:</strong>
    <%= @post.published ? "Publicado" : "Não Publicado" %>
  </div>
  <%= link_to 'Editar Intro', edit_post_path(@post), class:"ui primary tiny button" %> 
  <%= link_to 'Adicionar Livro', new_post_book_path(@post), class:"ui positive tiny button" %>
<% end %>

<div class="intro">
  <%= simple_format @post.intro %>
</div>

<%= render 'books', books: @books %>
