<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= @title.call %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="ui top fixed menu">
      <div class="header item">
        <%= link_to root_path do %>
          <%= image_tag "Direito Certo Logo.png", class:"ui image", style:"display: inline;", size:"45x45" %>
          <p style="font-family: Libre Baskerville; color: rgb(0, 82, 137); margin-left: 5px; font-size: 1.5rem; display: inline"> 
            Direito Certo
          </p>
        <% end %>
      </div>
      <div class="right menu">
      </div>
    </div>


    <div class="ui main text container">
      <%= yield %>
    </div>

    <br>

    <div class="ui inverted vertical footer segment">
      <br>
      <div class="ui center aligned container">
        <div class="ui stackable inverted divided grid">
          <div class="four wide column">
            <h4 class="ui inverted header">Livros de Direito</h4>
            <div class="ui inverted link list">
              <a href="#" class="item">Administrativo</a>
              <a href="#" class="item">Constitucional</a>
              <a href="#" class="item">Tributário</a>
              <a href="#" class="item">Penal</a>
            </div>
          </div>
          <div class="four wide column">
            <h4 class="ui inverted header">Direito Certo</h4>
            <div class="ui inverted link list">
              <%= link_to "Sobre", sobre_path, class:"item" %>
              <%= link_to "Contato", contato_path, class:"item" %>
              <%= link_to "Termos de Uso", termos_de_uso_path, class:"item" %>
              <%= link_to "Política de Privacidade", politica_de_privacidade_path, class:"item" %>
            </div>
          </div>
          <div class="eight wide column">
            <h4 class="ui inverted header">Aviso Legal</h4>
            <%= image_tag "Direito Certo Logo.png", class:"ui mini circular image", style:"display: inline" %>
            <p style="display: inline"><strong style="font-family: Libre Baskerville; ">Direito Certo</strong> é um participante do programa associados da amazon.com.br</p>
          </div>
        </div>
        <div class="ui inverted section divider"></div>
      </div>
    </div>

  </body>
</html>
